Flask
PyPDF2
langchain
langchain_huggingface
langchain_community
requests
beautifulsoup4
youtube-transcript-api
reportlab
python-dotenv
faiss-cpu
gunicorn
selenium
webdriver-manager
python-docx
rarfile
patool
lxml
python-pptx
shutils
groq
reportlab
markdown
mistralai
langchain-groq
pydantic==1.10.13

